body {
  margin: 10px;
  font: 10px sans-serif;
}

#graphs {
  width: 960px;
  margin: 0 auto;
}

#reset {
  margin-top: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bar-chart {
  overflow: scroll;
}

.dc-chart g.row text {
fill: #555555;
font-size: 12px;
cursor: pointer;
}

.dc-chart rect.bar {
    stroke: #76ced9;
    cursor: pointer;
}

.dc-chart g.row rect {
    stroke: #76ced9;
    fill-opacity: 0.8;
    cursor: pointer;
}

.dc-chart path.line {
    fill: none;
    stroke-width: 1.5px;
}

.dc-chart path.area {
    fill: #555555;
    fill-opacity: .1;
    stroke: none;
}

.dc-chart .pie-slice {
    fill: white;
    font-size: 12px;
    cursor: pointer;
    stroke: #555;
}

.dc-chart text.pie-slice{
    stroke-width: 0px !important;
}

.chart {
  background-color: whitesmoke;
  border: solid grey 1px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.pie-chart {
  width: 220px;
  height: 220px;
}

.line-chart {
  width: 940px;
}

.stats {
  width: 460px;
}
